
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*panel nawigacyjny górny*/


header{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    width: 100%;
    background-color: #036;
    height: 80px;
        
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

nav{
    align-self: center;
}
nav li{
    display: inline;
    padding-left: 25px;
}
nav li a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    
        
}
nav li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.search{
    align-self:center;
    
    display: flex;
    position: absolute; 
    right: 10px;  
}
.search input{
    align-self: center;
    opacity: 0.5;
    margin-right: 5px;
    width: 100px;
    height: 30px;
}
    
/*menu boczne*/
    
.leftMenu
{
    color: #436179;
    width: 210px;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0px;
    top: 0px;
    background: #fff;
    border-right: 1px solid #e6e6e6;
}

.contentMenu
{

    font-size: 16px;
    float: left;
    width:100px;
    
/*	margin-top: 95px;*/
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left: 40px;

}
.contentMenu span{
    padding-top:5px;
    padding-bottom:5px;
 }        
.contentMenu li{
    list-style: none;
    padding-top:5px;
    padding-bottom:5px;
 }
.contentMenu li a{
    color: #436179;
    text-decoration: none;
    font-size: 16px;
 }
 .contentMenu li a:hover{
    text-decoration: underline;
    text-decoration-color: #436179;
}
.dottedLine{
   margin-top: 5px;
   margin-bottom: 5px;
   border-bottom: 3px #38647f dotted;
 }
.socielMedia{
   margin-top: 10px;   
 }
    
.closeArrow{
    position: absolute;
    top: 50%;
    right: 16px;
}
.openArrow{
    position: absolute;
    top: 50%;
    right: 16px;
    display: none;
}

/*kontent główny    */
section{
    margin: 0 auto;
    margin-top:150px;
    max-width: 920px; 
}
main{          
    font-size: 16px;  
}
div.aboutCompany{   
    display: flex;
    align-items:center;
    color: #023a5c;
    justify-content: center;
    border-bottom: 4px #38647f dotted;
    padding: 30px;
    margin-bottom: 40px;
}
div.aboutCompany h1{
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
}
.mainContent{    
    text-align: justify;
    max-width: 920px;
    column-width: 450px;
    column-gap: 20px;  
}
/*stopka*/

footer {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    background-color: #036;
    height:68px;
}
    
    
